.nav-portfolio {
	margin: 0px;
	padding-left: 0px;
	justify-content: center;
	list-style: none;
	padding-bottom: 50px;
}
.portfolio-link:not(:last-child) {
	padding-right: 10px;
}
.flexbox-port {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0px 0px;
	padding: 0 0;
}
.list-port {
	width: 370px;
	margin-right: 30px;

	&-port:nth-child(3n + 3) {
		margin-right: 0;
	}

	&-port:nth-child(-n + 6) {
		margin-bottom: 30px;
	}

	&-port:hover {
		box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
	}
}
.container-box {
	display: block;
	width: 370px;
	height: auto;
	background: $background;
	border: 1px solid #eeeeee;
	margin-right: 0;

	&-box p:not(:last-child) {
		font-family: "Roboto";
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 36px;
		letter-spacing: 0.06em;
		color: $color2;
		margin: 0px 0px;
	}
	&-box p {
		font-family: "Roboto";
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 30px;
		letter-spacing: 0.03em;
		color: $color3;
		display: block;
		margin: 0px 0px;
	}
}
.img-size {
	display: flex;
	width: 369px;
}
.hover-box {
	position: relative;
	overflow: hidden;
}
