.list-main {
	display: block;

	& h5 {
		font-family: "Roboto";
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		line-height: 16px;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		color: $color2;
		margin-top: 0px;
		margin-bottom: 10px;
		display: block;
		content: "";
	}
	&:not(:last-child) {
		margin-right: 30px;
	}

	&:nth-child(1)::before {
		content: "";
		display: block;
		width: 270px;
		height: 120px;
		border-radius: 4px;
		background: url(../images/antenna1.png), #f5f4fa;
		background-repeat: no-repeat;
		background-position: center;
		margin-bottom: 30px;
	}

	&:nth-child(2)::before {
		content: "";
		display: block;
		width: 270px;
		height: 120px;
		border-radius: 4px;
		background: url(../images/clock1.png), #f5f4fa;
		background-repeat: no-repeat;
		background-position: center;
		margin-bottom: 30px;
	}
	&:nth-child(3)::before {
		content: "";
		display: block;
		width: 270px;
		height: 120px;
		border-radius: 4px;
		background: url(../images/diagram1.png), #f5f4fa;
		background-repeat: no-repeat;
		background-position: center;
		margin-bottom: 30px;
	}
	&:nth-child(4)::before {
		content: "";
		display: block;
		width: 270px;
		height: 120px;
		border-radius: 4px;
		background: url(../images/astronaut1.png), #f5f4fa;
		background-repeat: no-repeat;
		background-position: center;
		margin-bottom: 30px;
	}

	& p {
		font-family: "Roboto";
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 24px;
		letter-spacing: 0.03em;
		color: $color3;
		margin: 0px;
		display: block;
		width: 270px;
		height: 75px;
	}
}
.dez-main {
	position: absolute;
	width: 370px;
	height: 70px;
	background: rgba(47, 48, 58, 0.8);

	display: flex;
	justify-content: center;
	align-items: center;
	bottom: 0;
}
.dez-main h3 {
	font-size: 14px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #ffffff;
	margin: 0;
}

.blok {
	width: 270px;
	height: 105px;
	margin: 0px;
	padding-right: 30px;
	align-items: center;
}
.blok h5 {
	font-family: "Roboto";
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	text-transform: uppercase;
	color: #212121;
}
.blok p {
	font-family: "Roboto";
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: #757575;
}
.heading {
	text-align: center;
	font-family: "Roboto";
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 42px;
	color: #212121;
	margin: 0px;
	padding-bottom: 50px;
}
