.logo {
	display: inline-flex;
	margin: 0px;
	margin-right: 95px;
	text-decoration: none;
}
.fontweb {
	font-family: "Raleway";
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	color: $background1;
	margin: 0px;
}
.fontstudio {
	font-family: "Raleway";
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	margin: 0px;
	color: $color2;
}
.fontstudio1 {
	font-family: "raleway";
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	color: $background;
}
.logo-footer {
	margin: 0px;
	padding-bottom: 20px;
}
